@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap");
:root {
  /* --primary-color: #edf2fc;
  --secondary-color: #212121; */
  --primary-color: #dff6ff;
  --secondary-color: #06283d;
}

.dark-theme {
  /* --primary-color: #212121;
  --secondary-color: #edf2fc; */
  --primary-color: #06283d;
  --secondary-color: #dff6ff;
}

html {
  margin: 0 auto;
  max-width: 1024px;
}

* {
  font-family: "Silkscreen", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

nav {
  display: flex;
  align-items: center;
}

input:not([type="radio"]):not([type="checkbox"]) {
  appearance: none;
  border: none;
  outline: none;
  background-color: none;
  cursor: initial;
}

input[type="text"] {
  background-color: var(--primary-color);
}

#name {
  font-size: 24px;
  width: 180px;
  color: var(--secondary-color);
  font-weight: bold;
}

#icon {
  height: 32px;
  width: auto;
  margin-left: auto;
  cursor: pointer;
}
