@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap");
:root {
  /* --primary-color: #edf2fc;
  --secondary-color: #212121; */
  /* --primary-color: #dff6ff;
  --secondary-color: #06283d; */
  /* --primary-color: #feb139;
  --secondary-color: #1746a2; */
  --primary-color: #f8cb2e;
  --secondary-color: #006e7f;
}

.dark-theme {
  /* --primary-color: #212121;
  --secondary-color: #edf2fc; */
  /* --primary-color: #1746A2;
  --secondary-color: #dff6ff; */
  /* --primary-color: #1746a2;
  --secondary-color: #feb139; */
  --primary-color: #006e7f;
  --secondary-color: #f8cb2e;
}

html {
  margin: 0 auto;
  max-width: 1024px;
}

* {
  font-family: "Silkscreen", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

nav {
  display: flex;
  align-items: center;
}

input:not([type="radio"]):not([type="checkbox"]) {
  appearance: none;
  border: none;
  outline: none;
  background-color: none;
  cursor: initial;
}

input[type="text"] {
  background-color: var(--primary-color);
}

#name {
  font-size: 24px;
  width: 180px;
  color: var(--secondary-color);
  font-weight: bold;
}

#icon {
  height: 32px;
  width: auto;
  margin-left: auto;
  cursor: pointer;
}

.app {
  display: flex;
}

.createtitle {
  display: flex;
  gap: 10px;
  align-items: center;
}

.createtitle button {
  height: 25px;
  width: 25px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  font-size: large;
  text-align: center;
}

.createtitle button:hover {
  opacity: 0.9;
}

@media only screen and (max-width: 600px) {
  #icon {
    position: relative;
    bottom: 10px;
  }
}
