@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap");
:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
  /* --primary-color: #dff6ff;
  --secondary-color: #06283d; */
  /* --primary-color: #feb139;
  --secondary-color: #1746a2; */
  /* --primary-color: #f8cb2e;
  --secondary-color: #006e7f; */
}

.dark-theme {
  --primary-color: #212121;
  --secondary-color: #edf2fc;
  /* --primary-color: #1746A2;
  --secondary-color: #dff6ff; */
  /* --primary-color: #1746a2;
  --secondary-color: #feb139; */
  /* --primary-color: #006e7f;
  --secondary-color: #f8cb2e; */
}

html {
  margin: 0 auto;
  max-width: 1024px;
}

* {
  font-family: "Silkscreen", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  min-height: 100vh;
}

nav {
  display: flex;
  align-items: center;
}

input:not([type="radio"]):not([type="checkbox"]) {
  appearance: none;
  border: none;
  outline: none;
  background-color: none;
  cursor: initial;
}

input[type="text"] {
  background-color: var(--primary-color);
}

#name {
  font-size: 24px;
  width: 180px;
  color: var(--secondary-color);
  font-weight: bold;
}

#icon {
  height: 32px;
  width: auto;
  margin-left: auto;
  cursor: pointer;
}

.createtitle {
  display: flex;
  gap: 10px;
  align-items: center;
}

.createtitle button {
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--secondary-color);
  cursor: pointer;
}

.createtitle button:hover {
  opacity: 0.9;
}

.createcategory {
  display: flex;
  gap: 10px;
  align-items: center;
}

#category {
  font-size: 18px;
  width: 180px;
  color: var(--secondary-color);
  font-weight: bold;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.25s;
}

.active {
  visibility: visible;
  opacity: 1;
}

.category-display {
  display: flex;
  gap: 8px;
  padding: 5px 0;
}

.category {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border: 3px solid var(--secondary-color);
  cursor: pointer;
  text-align: left;
}

.category:hover {
  opacity: 0.9;
}

.category span {
  margin-left: 15px;
  margin-right: 5px;
}

.modal {
  position: relative;
  padding: 10px;
  display: flex;
  min-width: 50vw;
  justify-content: space-around;
  flex-direction: column;
  border: 4px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  gap: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.prioritydiv {
  display: flex;
  gap: 10px;
  align-items: center;
}

#downarrow {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}

form button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--secondary-color);
  cursor: pointer;
}

form input {
  font-size: 1rem;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-weight: bold;
}

.selectedView {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.taskdisplay {
  padding-top: 10px;
}

.category-display {
  flex-wrap: wrap;
}

@media only screen and (max-width: 400px) {
  #icon {
    position: relative;
    bottom: 10px;
  }
}

@media only screen and (min-width: 600px) {
  #icon {
    position: relative;
    bottom: 0px;
  }
}
